@model IEnumerable<TaskManager.Models.TaskModel>;
<div class="container px-4">
    <div class="row gx-5">
                <form asp-controller="Task" asp-action="Search">
                    <p>
                        Name: <input type="text" name="searchstring" />
                        <input type="submit" value="Filter" />
                    </p>
                </form>
            <a asp-action="Create" type="button" class="btn btn-primary" method="post" align="left">Create new task</a>
    </div>
</div>

<table class="table table-bordered">
<thead>
    <tr>
      <th scope="col"><a asp-controller="Task" asp-action="SortByStatus" type="button" class="correct">Status⮃</a></th>
      <th scope="col"><a asp-controller="Task" asp-action="SortByName" type="button" class="correct">Name⮃</a></th>
      <th scope="col"><a asp-controller="Task" asp-action="SortByDeadline" type="button" class="correct">Deadline⮃</a></th>
      <th scope="col"><a asp-controller="Task" asp-action="SortByPriority" type="button" class="correct">Priority⮃</a></th>
      <th scope="col">Tags</th>
      <th scope="col">Description</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
@if (Model == null || Model.Count() == 0)
{
    <caption>There are no tasks in the system!</caption>
}
else
{
    @foreach (var task in Model)
    {
        
            <tbody>
                <tr>
                    @if (task.IsCompleted)
                    {
                        <td>☑️</td>
                    }
                    else
                    {
                        <td>🔄</td>
                    }
                    <td>@task.Name</td>
                    <td>@task.Deadline</td>
                    <td>@task.Priority</td>
                    <td>@task.Tags</td>
                    <td>@task.Description</td>
                    <td><a asp-controller="Task" asp-action="Delete" type="button" asp-route-id="@task.Id" class="btn btn-outline-danger">Delete</a> <a asp-controller="Task" asp-action="ChangeStatus" type="button" asp-route-id="@task.Id" class="btn btn-outline-success">Done</a></td>
                </tr>
            </tbody>
        

    }
}
</table>



